# Ignora dependências do Node.js
node_modules/

# Ignora arquivos de variáveis de ambiente
# Ignora o .env principal e todas as suas variações (.env.local, .env.development, etc)
.env
.env.*

# Outros arquivos
.DS_Store
npm-debug.log